* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  background-color: #808080;
  color: white;
}

.arsip-title h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.catatan-aktif__title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

/* component navbar.js */
.note-app__NavBar {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 3px dotted black;
  padding: 10px;
}

.note-app__NavBar p {
  display: inline;
  font-size: 20px;
}

.note-input {
  margin: 10px auto;
  width: 500px;
  margin-bottom: 48px;
}

.note-input form textarea {
  min-height: 150px;
}

.note-input__body {
  min-height: 175px;
}

.note-input__title {
  font-weight: bold;
  font-size: 50px;
  text-align: left;
}

.note-input__input {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 5px;
}

.note-input__textArea {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 5px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  color: black;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list {
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 16px;
    margin-bottom: 48px;
}

.note-item {
  border: 1px solid #aaa;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.note-item-data {
  text-align: center;
  padding: 20px;
}

.note-item-data p, .note-item-data button {
  padding: 20px;
  margin: 5px;
}

.note-item h1 {
  text-align: center;
}

.note-item-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.note-item__delete-button {
  cursor: pointer;
  color: red;
  padding: 10px;
  border-radius: 5px;
}

.note-item__arsipkan-button {
  cursor: pointer;
  color: orange;
  padding: 10px;
  border-radius: 5px;
}
